RESEND_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=flyprep.com
NEXT_PUBLIC_CLARITY_ID=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
BRUNO_NOTIFICATION_EMAIL=delclaro2.0@gmail.com
